html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
header{
  background-color: blue;
  position: relative;
  margin: 0;
  padding:1em;
}
.headleft {
 position: absolute;
 width: 125px;
 right:50%;

}
.headright {
  position: absolute;
  left: 50%;
  width: 125px;
}
.brain {
  position: absolute;
  width: 46px;
  left: 43%;
  top: 48px;
}
.body {
  width: 320px;
  margin-top: 36px;
}
h1{
  background-color: navy;
}
